.actionWindow {
  --radius: 4px;
  width: 40%;
  /* height: 63%; */
  background: rgb(245, 245, 245);
  position: absolute;
  bottom: 0;
  left: 35%;
  z-index: 100;
  border-radius: var(--radius);
  border: 1px solid rgb(238, 238, 238);
  box-sizing: border-box;
}

/* HEADER */
.actionHeader {
  width: 100%;
  background: #4184f3;
  padding: 16px;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.actionHeader h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 6px;
}

.actionHeader span {
  font-size: 0.7rem;
  font-weight: 400;
}

/* BODY */
.regularOrder {
  padding: 16px 26px;
  background-color: #fff;
}

.inputs {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

.inputs fieldset {
  border: 1px solid #ddd;
  padding: 6px;
}

.inputs legend {
  font-size: 0.75rem;
}

.inputs input {
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100px;
}

/* FOOTER */
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.buttons span {
  font-size: 0.8rem;
  color: #555;
}

/* BUTTONS */
.btn {
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
}

.btnBlue {
  background: #4184f3;
  color: #fff;
}

.btnGrey {
  background: #d4d4d4;
  color: #666;
}

.btnBlue:hover {
  background: #74a7fa;
}

.btnGrey:hover {
  background: #9b9b9b;
  color: #fff;
}
