.landingRoot {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
}

/* scoped nav link */
.landingRoot .navLink {
  margin-left: 40px;
}

/* Support Hero */
.landingRoot .supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
  padding-bottom: 50px;
}

.landingRoot .supportHero a {
  color: white;
  text-decoration: underline;
}

.landingRoot .supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.landingRoot .supportHero input {
  padding: 15px 30px;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  border: none;
}
